<div class="bricks-container">
  <h3>
    <a href="#">Gates</a>
  </h3>
  <div ng-include="'views/bricks/list_item.html'" ng-repeat="brick in gates" class="brick-container"></div>
</div>
<div class="bricks-container">
  <h3>
    <a href="#">Private</a>
  </h3>
  <div ng-include="'views/bricks/list_item.html'" ng-repeat="brick in private" class="brick-container"></div>
</div>
<div class="bricks-container">
  <h3>
    <a href="#">Public</a>
  </h3>
  <div ng-include="'views/bricks/list_item.html'" ng-repeat="brick in public" class="brick-container"></div>
</div>
