<ul class="nav navbar-nav">
  <li>
    <a href tooltip="New&nbsp;brick" tooltip-placement="bottom" ng-click="new()">
      <i class="fa fa-plus"></i>
    </a>
  </li>
  <li>
    <a href tooltip="Remove&nbsp;brick" tooltip-placement="bottom" ng-click="destroy()">
      <i class="fa fa-trash-o"></i>
    </a>
  </li>
  <li>
    <a href tooltip="Run" tooltip-placement="bottom" ng-click="run()">
      <i class="fa fa-play" ng-class="{ 'fa-play': !isRunning, 'fa-spin fa-spinner': isRunning }"></i>
    </a>
  </li>
  <li>
    <a href tooltip="Export" tooltip-placement="bottom" ng-click="export()">
      <i class="fa fa-download"></i>
    </a>
  </li>
</ul>
