.brick {
  height: 65px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px 10px;
  text-align: center;
  font-size: 13px;
  background-repeat: no-repeat;
  background-color: white;
  box-shadow: 0 0 2px gray;
  position: relative;
  &:hover {
    i.delete-brick {
      display: block;
    }
    i.brick-popover {
      display: block;
    }
    .close {
      display: block;
    }
  }
  &.brick-and {
    background-image: url('../images/gates/AND.svg');
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    .close {
      display: none !important;
    }
  }
  &.brick-not {
    background-image: url('../images/gates/NOT.svg');
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    .close {
      display: none !important;
    }
  }
  &.brick-input {
    background-image: url('../images/gates/INPUT.svg');
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    .close {
      display: none !important;
    }
  }
  &.brick-output {
    background-image: url('../images/gates/OUTPUT.svg');
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    .close {
      display: none !important;
    }
  }
  i.delete-brick {
    display: none;
    z-index: 1000;
    color: #999;
    font-size: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
  }
  i.brick-popover {
    display: none;
    z-index: 1000;
    color: black;
    font-size: 20px;
    position: absolute;
    top: -10px;
    right: 50px;
    cursor: pointer;
  }
  .close {
    position: absolute;
    right: 5px;
    top: 0;
    display: none;
  }
}
#workspace .brick:hover .close {
  display: none !important;
}
