<div class="row" id="main">
  <div class="col-xs-12 col-sm-8 col-md-9" id="mainLeft">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">GENius</a>
        </div>
        <div class="navbar-text">
          Unnamed biobrick project <em class="text-muted hidden-xs">- saved</em>
        </div>
        <div class="navbar-right hidden-xs">
          {{hoodie.account.username}}
          <ul class="nav navbar-nav">
            <li>
              <a href="#" tooltip="New&nbsp;brick" tooltip-placement="bottom">
                <i class="fa fa-plus"></i>
              </a>
            </li>
            <li>
              <a href="#" tooltip="Copy&nbsp;brick" tooltip-placement="bottom">
                <i class="fa fa-copy"></i>
              </a>
            </li>
            <li class="dropdown" on-toggle="toggled(open)">
              <a href="#" class="dropdown-toggle">
                <i class="fa fa-user"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="#">Profile</a>
                </li>
                <li>
                  <a href="#">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 ui-widget-content" id="workspace">
        <div id="data"></div>

        <div class="btn-toolbar">
          <div class="btn-group">
            <a href="#" class="btn btn-lg btn-primary" tooltip="Run" tooltip-append-to-body="true">
              <i class="fa fa-play"></i>
            </a>
            <a href="#" class="btn btn-lg btn-default" tooltip="Export" tooltip-append-to-body="true">
              <i class="fa fa-download"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <tabset class="hidden-xs col-sm-4 col-md-3" id="mainRight">
    <tab heading="Library">
      <div id="library">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="gates-container">
              <h3>
                <i class="fa fa-caret-right"></i>
                <a href="#">Gates</a>
              </h3>
              <div class="brick-container">
                <div class="bricks">
                  <!-- <div class="brick ui-widget-content gate-and">AND</div> -->
                  <div class="brick gate-and" is-draggable="{helper: 'clone'}">AND</div>
                </div>
              </div>
              <div class="brick-container">
                <div class="bricks">
                  <!-- <div class="brick ui-widget-content gate-not">NOT</div> -->
                  <div class="brick gate-not" is-draggable="{helper: 'clone'}">NOT</div>
                </div>
              </div>
            </div>
            <h3>
              <i class="fa fa-caret-right"></i>
              <a href="#">Private</a>
            </h3>
            <h3>
              <i class="fa fa-caret-right"></i>
              <a href="#">Public</a>
            </h3>
          </div>
        </div>
        <form class="form-inline filters">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search...">
              <div class="input-group-btn" data-toggle="buttons">
                <a href="#" class="btn btn-default" tooltip="Gates" tooltip-append-to-body="true">
                  <i class="fa fa-wrench"></i>
                </a>
                <a href="#" class="btn btn-default" tooltip="Private" tooltip-append-to-body="true">
                  <i class="fa fa-eye-slash"></i>
                </a>
                <a href="#" class="btn btn-default" tooltip="Public" tooltip-append-to-body="true">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </tab>
    <tab heading="Visualisation">
      <div id="visualisation">
        <div class="panel panel-default">
          <div class="panel-body">

          </div>
        </div>
      </div>
    </tab>
  </div>
</div>
