<div class="row" id="main" ng-controller="BricksCtrl">
  <div id="mainLeft">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
            <img src="images/favicon.ico" />
            GENius
          </div>
        </div>
        <div class="navbar-text" ng-include="'views/bricks/title.html'"></div>
        <div class="navbar-right hidden-xs" ng-include="'views/users/nav.html'"></div>
        <div class="navbar-right hidden-xs" ng-include="'views/bricks/nav.html'"></div>
      </div>
    </div>
    <div id="alerts"></div>
    <div class="row" ng-include="'views/bricks/show.html'"></div>
  </div>
  <div id="mainRight" resizable>
    <tabset>
      <tab heading="Library" active="tabs.libary">
        <div id="library" ng-include="'views/bricks/library.html'"></div>
      </tab>
      <tab heading="Visualisation" active="tabs.visualisation">
        <div id="visualisation" ng-include="'views/bricks/visualisation.html'"></div>
      </tab>
    </tabset>
  </div>
</div>
